.designWrapper{
    padding-block: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: var(--font4);
}
.design__text{
    width: 60%;
    align-self: center;
    text-align: center;
    font-size: 8rem;
    color: var(--textBlue3);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
/* Design Cards CSS */
.design__cardBox{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: clamp(1rem,5vw + .5rem, 2rem);
}
.cardWrapper{
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.card{
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    gap: clamp(1rem,5vw + .5rem, 2rem);
    padding: 4rem;
    font-family: var(--font4);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: var(--white);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
/* Effect on click */
/* .card.active {
    width: 32.5rem;
    height: 32.5rem;
    position: absolute;
    background-color: var(--textBlue1);
} */
/* Same Effect on hover */
.card:hover{
    width: 32.5rem;
    height: 32.5rem;
    position: absolute;
    background-color: var(--textBlue1);
}


.card .card__heading{
    font-size: 3.5rem;
    color: var(--textBlue1);
    font-weight: 700;
}
/* .card.active .card__heading{
    color: var(--white);
    font-size: 3.8rem;
} */
.card:hover .card__heading{
    color: var(--white);
    font-size: 3.8rem;
}
.card .card__desc{
    line-height: 1.5;
    font-size: 1.6rem;
    color: var(--textBlack1);
}
/* .card.active .card__desc{
    color: var(--white);
    font-size: 1.8rem;
} */
.card:hover .card__desc{
    color: var(--white);
    font-size: 1.8rem;
}
.design__separator{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.sep__line{
    display: block;
    height: 1px;
    background-color: var(--textBlack1);
    flex-grow: 1;
    border-radius: 1px;
}

