
#home{
    overflow-x: hidden;
}
.homeDiv{
    --fs-icon: 1.8rem;
    --fs-text-sm: 1rem;
    --fs-text-md: 2rem;
    --fs-text-bg: 3rem;
    --mg-inline-side: 2rem;
    --mg-block-side: max(5rem,10vh);

    background: linear-gradient(var(--imgGradient)), url('../img/homeBg.jpg') no-repeat;
    background-size: cover; 
    position: relative;
}
.home-companyLogo{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 5rem;
}
.topBar{
    position: absolute;
    top: 0;
    left: 0;
    margin: 1% 2%;
    border: 1px solid red;
}
.bottomBar{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(60%, 65vw + 1rem, 75%);
    margin-block: var(--mg-block-side);
}
.bottomBar .home-links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 3rem, 5vw);
    width: 70%; 
}
.bottomBar .home-links li a{
   text-decoration: none;
   font-family: var(--font3);
   font-weight: 600;
   font-size: var(--fs-text-sm);
   color: var(--white);
}
.leftBar{
    position: absolute;
    display: flex;
    left: 0;
    margin-inline: var(--mg-inline-side);
}
.leftBar .slideScroll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightBar{
    position: absolute;
    right: 0;
    margin-inline: var(--mg-block-side);
}
.rightBar .home-socialMediaIcons{
    display: grid;
    gap: max(1rem, 3vh);
    list-style: none;
    font-size: var(--fs-icon);
}
.rightBar .home-socialMediaIcons *{
    color: var(--white);
}
